# Node.js dependencies
node_modules

# Environment variables
.env

# Log files
logs
*.log

# Compiled binary addons
build/Release

# macOS files
.DS_Store

# Editor specific files
.vscode
.idea
*.swp
